<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drowsinessdetectorapp">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_detector_launcher"
        android:logo="@mipmap/ic_detector_launcher_round"
        android:roundIcon="@mipmap/ic_detector_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartingActivity"/>
        <activity
            android:icon="@mipmap/ic_detector_launcher"
            android:logo="@mipmap/ic_detector_launcher_round"
            android:roundIcon="@mipmap/ic_detector_launcher_round"
            android:name=".activity.LaunchActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:icon="@mipmap/ic_detector_launcher"
            android:logo="@mipmap/ic_detector_launcher_round"
            android:roundIcon="@mipmap/ic_detector_launcher_round"
            android:name=".activity.MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
    </application>

</manifest>